# <u>DATA PREPARATION /DATA PROCESSING
- 2 STEP APPROACH
    - 1) DATA CLEANING :- drop,dropna

## 1) import library

In [1]:
import pandas as pd

## 2) import data

In [2]:
weather_data = pd.read_csv("data_clean.csv")

In [3]:
weather_data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

## 3)Data understanding

## 3,1) initial analysis

In [4]:
weather_data.shape

(158, 10)

In [5]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [6]:
weather_data.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [7]:
weather_data.drop(['Unnamed: 0','Temp C'],axis=1)

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     5    1  2010    67       S
1     36.0    118.0   8.0     5    2  2010    72       C
2     12.0    149.0  12.6     5    3  2010    74      PS
3     18.0    313.0  11.5     5    4  2010    62       S
4      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     5    1  2010    67       C
154   30.0    193.0   6.9     9   26  2010    70      PS
155    NaN    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [8]:
weather_data.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

## 4) DATA PREPARATION

In [9]:
weather_data.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [10]:
38/158*100

24.050632911392405

In [11]:
weather_data['Ozone'].mean()

41.583333333333336

In [12]:
weather_data['Ozone'].median()

30.5

# lets take client rehan has approved togo with median imputation for Ozone features

In [13]:
weather_data['Ozone'].fillna(value=30.5,inplace=True)

In [14]:
weather_data.isna().sum()

Unnamed: 0    0
Ozone         0
Solar.R       7
Wind          0
Temp C        0
Month         0
Day           0
Year          0
Temp          0
Weather       3
dtype: int64

In [15]:
weather_data.head(30)

    Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4     67     5    1  2010    67       S
1            2   36.0    118.0   8.0     72     5    2  2010    72       C
2            3   12.0    149.0  12.6     74     5    3  2010    74      PS
3            4   18.0    313.0  11.5     62     5    4  2010    62       S
4            5   30.5      NaN  14.3     56     5    5  2010    56       S
5            6   28.0      NaN  14.9     66     5    6  2010    66       C
6            7   23.0    299.0   8.6     65     5    7  2010    65      PS
7            8   19.0     99.0  13.8     59     5    8  2010    59       C
8            9    8.0     19.0  20.1     61     5    9  2010    61      PS
9           10   30.5    194.0   8.6     69     5   10  2010    69       S
10          11    7.0      NaN   6.9      C     5   11  2010    74       C
11          12   16.0    256.0   9.7     69     5   12  2010    69      PS
12          13   11.0    290.0   9.2     66     5   13  2010    66       S
13          14   14.0    274.0  10.9     68     5   14  2010    68       S
14          15   18.0     65.0  13.2     58     5   15  2010    58       C
15          16   14.0    334.0  11.5     64     5   16  2010    64       S
16          17   34.0    307.0  12.0     66     5   17  2010    66       S
17          18    6.0     78.0  18.4     57     5   18  2010    57       C
18          19   30.0    322.0  11.5     68     5   19  2010    68      PS
19          20   11.0     44.0   9.7     62     5   20  2010    62       S
20          21    1.0      8.0   9.7     59     5   21  2010    59       S
21          22   11.0    320.0  16.6     73     5   22  2010    73       C
22          23    4.0     25.0   9.7     61     5   23  2010    61      PS
23          24   32.0     92.0  12.0     61   May   24  2010    61       C
24          25   30.5     66.0  16.6     57     5   25  2010    57      PS
25          26   30.5    266.0  14.9     58     5   26  2010    58       C
26          27   30.5      NaN   8.0     57     5   27  2010    57      PS
27          28   23.0     13.0  12.0     67     5   28  2010    67       S
28          29   45.0    252.0  14.9     81     5   29  2010    81       S
29          30  115.0    223.0   5.7     79     5   30  2010    79       C

In [16]:
weather_data.isna().sum()

Unnamed: 0    0
Ozone         0
Solar.R       7
Wind          0
Temp C        0
Month         0
Day           0
Year          0
Temp          0
Weather       3
dtype: int64

In [17]:
7/158

0.04430379746835443

## lets assume client approved to drop 5 observations of Solar.R fdeatures and Weather.

In [18]:
weather_data['Solar.R'].dropna(inplace=True)

In [19]:
weather_data.isna().sum()

Unnamed: 0    0
Ozone         0
Solar.R       7
Wind          0
Temp C        0
Month         0
Day           0
Year          0
Temp          0
Weather       3
dtype: int64

In [20]:
weather_data['Weather'].mode()

0    S
dtype: object

In [21]:
weather_data['Weather'].value_counts()

S     59
C     49
PS    47
Name: Weather, dtype: int64

## step 2 - data type converson -

In [22]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [28]:
del weather_data['Temp C']

In [29]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [30]:
weather_data.head(30)

    Unnamed: 0  Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4     5    1  2010    67       S
1            2   36.0    118.0   8.0     5    2  2010    72       C
2            3   12.0    149.0  12.6     5    3  2010    74      PS
3            4   18.0    313.0  11.5     5    4  2010    62       S
4            5   30.5      NaN  14.3     5    5  2010    56       S
5            6   28.0      NaN  14.9     5    6  2010    66       C
6            7   23.0    299.0   8.6     5    7  2010    65      PS
7            8   19.0     99.0  13.8     5    8  2010    59       C
8            9    8.0     19.0  20.1     5    9  2010    61      PS
9           10   30.5    194.0   8.6     5   10  2010    69       S
10          11    7.0      NaN   6.9     5   11  2010    74       C
11          12   16.0    256.0   9.7     5   12  2010    69      PS
12          13   11.0    290.0   9.2     5   13  2010    66       S
13          14   14.0    274.0  10.9     5   14  2010    68       S
14          15   18.0     65.0  13.2     5   15  2010    58       C
15          16   14.0    334.0  11.5     5   16  2010    64       S
16          17   34.0    307.0  12.0     5   17  2010    66       S
17          18    6.0     78.0  18.4     5   18  2010    57       C
18          19   30.0    322.0  11.5     5   19  2010    68      PS
19          20   11.0     44.0   9.7     5   20  2010    62       S
20          21    1.0      8.0   9.7     5   21  2010    59       S
21          22   11.0    320.0  16.6     5   22  2010    73       C
22          23    4.0     25.0   9.7     5   23  2010    61      PS
23          24   32.0     92.0  12.0   May   24  2010    61       C
24          25   30.5     66.0  16.6     5   25  2010    57      PS
25          26   30.5    266.0  14.9     5   26  2010    58       C
26          27   30.5      NaN   8.0     5   27  2010    57      PS
27          28   23.0     13.0  12.0     5   28  2010    67       S
28          29   45.0    252.0  14.9     5   29  2010    81       S
29          30  115.0    223.0   5.7     5   30  2010    79       C

In [32]:
weather_data['Month'] = pd.to_numeric(weather_data['Month'],errors = 'coerce')#.astype(int)

In [33]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Month         float64
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [35]:
weather_data['Month'].fillna(value = 5,inplace = True)

In [37]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Month         float64
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [39]:
weather_data['Month']= weather_data['Month'].astype(int)

In [40]:
weather_data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Month           int32
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [41]:
weather_data.head(50)

    Unnamed: 0  Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4      5    1  2010    67       S
1            2   36.0    118.0   8.0      5    2  2010    72       C
2            3   12.0    149.0  12.6      5    3  2010    74      PS
3            4   18.0    313.0  11.5      5    4  2010    62       S
4            5   30.5      NaN  14.3      5    5  2010    56       S
5            6   28.0      NaN  14.9      5    6  2010    66       C
6            7   23.0    299.0   8.6      5    7  2010    65      PS
7            8   19.0     99.0  13.8      5    8  2010    59       C
8            9    8.0     19.0  20.1      5    9  2010    61      PS
9           10   30.5    194.0   8.6      5   10  2010    69       S
10          11    7.0      NaN   6.9      5   11  2010    74       C
11          12   16.0    256.0   9.7      5   12  2010    69      PS
12          13   11.0    290.0   9.2      5   13  2010    66       S
13          14   14.0    274.0  10.9      5   14  2010    68       S
14          15   18.0     65.0  13.2      5   15  2010    58       C
15          16   14.0    334.0  11.5      5   16  2010    64       S
16          17   34.0    307.0  12.0      5   17  2010    66       S
17          18    6.0     78.0  18.4      5   18  2010    57       C
18          19   30.0    322.0  11.5      5   19  2010    68      PS
19          20   11.0     44.0   9.7      5   20  2010    62       S
20          21    1.0      8.0   9.7      5   21  2010    59       S
21          22   11.0    320.0  16.6      5   22  2010    73       C
22          23    4.0     25.0   9.7      5   23  2010    61      PS
23          24   32.0     92.0  12.0      5   24  2010    61       C
24          25   30.5     66.0  16.6      5   25  2010    57      PS
25          26   30.5    266.0  14.9      5   26  2010    58       C
26          27   30.5      NaN   8.0      5   27  2010    57      PS
27          28   23.0     13.0  12.0      5   28  2010    67       S
28          29   45.0    252.0  14.9      5   29  2010    81       S
29          30  115.0    223.0   5.7      5   30  2010    79       C
30          31   37.0    279.0   7.4      5   31  2010    76      PS
31          32   30.5    286.0   8.6      6    1  2010    78       S
32          33   30.5    287.0   9.7      6    2  2010    74       C
33          34   30.5    242.0  16.1      6    3  2010    67      PS
34          35   30.5    186.0   9.2      6    4  2010    84       C
35          36   30.5    220.0   8.6      6    5  2010    85      PS
36          37   30.5    264.0  14.3      6    6  2010    79       C
37          38   29.0    127.0   9.7      6    7  2010    82      PS
38          39   30.5    273.0   6.9      6    8  2010    87       S
39          40   71.0    291.0  13.8      6    9  2010    90       S
40          41   39.0    323.0  11.5      6   10  2010    87       S
41          42   30.5    259.0  10.9      6   11  2010    93       C
42          43   30.5    250.0   9.2      6   12  2010    92      PS
43          44   23.0    148.0   8.0      6   13  2010    82       S
44          45   30.5    332.0  13.8      6   14  2010    80       S
45          46   30.5    322.0  11.5      6   15  2010    79       C
46          47   21.0    191.0  14.9      6   16  2010    77      PS
47          48   37.0    284.0  20.7      6   17  2010    72       C
48          49   20.0     37.0   9.2      6   18  2010    65      PS
49          50   12.0    120.0  11.5      6   19  2010    73       S

## 3. Data type transformation

### There are 2 transformation techniques Discrete vs Continious

* **1. Discrete - Label encoding / One Hot encoding.**
* **2. Continious - MinMax Scaler / Standard Scalar / Roburst Scaler**

In [43]:
weather_data.head(20)

    Unnamed: 0  Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
0            1   41.0    190.0   7.4      5    1  2010    67       S
1            2   36.0    118.0   8.0      5    2  2010    72       C
2            3   12.0    149.0  12.6      5    3  2010    74      PS
3            4   18.0    313.0  11.5      5    4  2010    62       S
4            5   30.5      NaN  14.3      5    5  2010    56       S
5            6   28.0      NaN  14.9      5    6  2010    66       C
6            7   23.0    299.0   8.6      5    7  2010    65      PS
7            8   19.0     99.0  13.8      5    8  2010    59       C
8            9    8.0     19.0  20.1      5    9  2010    61      PS
9           10   30.5    194.0   8.6      5   10  2010    69       S
10          11    7.0      NaN   6.9      5   11  2010    74       C
11          12   16.0    256.0   9.7      5   12  2010    69      PS
12          13   11.0    290.0   9.2      5   13  2010    66       S
13          14   14.0    274.0  10.9      5   14  2010    68       S
14          15   18.0     65.0  13.2      5   15  2010    58       C
15          16   14.0    334.0  11.5      5   16  2010    64       S
16          17   34.0    307.0  12.0      5   17  2010    66       S
17          18    6.0     78.0  18.4      5   18  2010    57       C
18          19   30.0    322.0  11.5      5   19  2010    68      PS
19          20   11.0     44.0   9.7      5   20  2010    62       S

## 1. Label encoding

In [47]:
weather_data_2 = weather_data.copy()

In [49]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
weather_data_2['Weather']= le.fit_transform(weather_data['Weather'])
weather_data_2

     Unnamed: 0  Ozone  Solar.R  Wind  Month  Day  Year  Temp  Weather
0             1   41.0    190.0   7.4      5    1  2010    67        2
1             2   36.0    118.0   8.0      5    2  2010    72        0
2             3   12.0    149.0  12.6      5    3  2010    74        1
3             4   18.0    313.0  11.5      5    4  2010    62        2
4             5   30.5      NaN  14.3      5    5  2010    56        2
..          ...    ...      ...   ...    ...  ...   ...   ...      ...
153         154   41.0    190.0   7.4      5    1  2010    67        0
154         155   30.0    193.0   6.9      9   26  2010    70        1
155         156   30.5    145.0  13.2      9   27  2010    77        2
156         157   14.0    191.0  14.3      9   28  2010    75        2
157         158   18.0    131.0   8.0      9   29  2010    76        0

[158 rows x 9 columns]